@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body {
  font-family: "Inter", sans-serif;
  color: #1f2e3e;
}
h1 {
  font-size: 64px;
}
.active {
  background-color: #eff2f8;
  border-bottom: 5px solid #335c92;
}
.active .nav-link {
  color: #335c92;
}
.navbar {
  padding: 0px;
  border-bottom: 2px solid #e5e5e5;
}
.logo {
  margin: 12px;
}
.navbar-nav {
  top: 0;
}
.navbar-custom {
  position: absolute;
  top: 0;
  right: 0;
}
.navbar-custom ul {
  border: 1px solid #e5e5e5;
  border-right: none;
  border-top: 0px;
  border-right: 0px;
}
.navbar-nav li,
.navbar-custom-right {
  border-right: 1px solid #e5e5e5;
}

.navbar-nav li:hover {
  background-color: #eff2f8;
  cursor: pointer;
  border-bottom: 5px solid #335c92;
}

.nav-link {
  margin: 5px 20px;
  color: #959595;
  font-size: 14px;
}
.nav-link:hover {
  color: #335c92;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
  margin-left: 20px;
  margin-right: 20px;
}

.search input {
  border: 1px solid #335c92;
  border-radius: 50px;
  width: 230px;
  font-size: 14px;
}

.search input:focus {
  box-shadow: none;
  border: 1px solid #335c92;
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 110px;
  background: #335c92;
  font-size: 10px;
  border-radius: 50px;
}
.nav-link ion-icon {
  margin-right: 10px;
  font-size: 18px;
  margin-bottom: -2px;
}
.navbar-custom-right-myAccount {
  padding-left: 20px;
  padding-right: 20px;
}
.navbar-custom-right-myAccount .dropdown-menu {
  margin-top: 10px;
}
.nav-profile-picture {
  width: 35px;
  border-radius: 100%;
  margin-right: 10px;
  border: 1px solid #335c92;
  padding: 3px;
}
.my-account-button {
  background: transparent;
  border: none;
  color: #959595;
  font-size: 14px;
}
.my-account-button:hover {
  background-color: transparent;
  color: #335c92;
}
.my-account-button.focus,
.my-account-button:focus {
  background-color: transparent;
  color: #335c92;
}
.dropdown-toggle::after {
  display: none;
}
.navbar-collapse.show {
  background-color: white !important;
  top: 123px;
  position: fixed;
  width: 100%;
}
.footer-top-container {
  width: 100%;
  padding: 40px 0px 40px 0px;
  background: url("../public/images/bg-footer.svg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}
.firefighting-footer-bg {
  background: url("../public/images/services/firefighting/bg-footer.svg")
    no-repeat center top !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}
.firefighting-footer-bg input,
.firefighting-footer-bg select {
  border: #fbba38 1px solid !important;
}
#viewsContainer {
  margin-top: 120px;
  overflow: hidden;
}
.footer-tagline {
  color: #fff;
}
.footer-tagline {
  margin-top: 180px;
}

.footer-top-header-input,
.form-select {
  margin-top: 30px;
  padding-bottom: 20px;
}
.footer-top-header-input input,
.form-select,
.footer-top-header-input textarea {
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid #335c92;
  padding: 10px;
  -webkit-input-placeholder: #335c92;
  margin: 5px;
}
.footer-top-header-input input::-webkit-input-placeholder {
  color: #335c92;
}
.footer-top-header-input input::-moz-placeholder {
  color: #335c92;
}
.footer-top-header-input input:-moz-placeholder {
  color: #335c92;
}
.footer-top-header-input input:-ms-input-placeholder {
  color: #335c92;
}
.footer-top-header-input .btn {
  background-color: #fff;
  color: #335c92;
  width: 100%;
}
.footer-contacts {
  width: 200px;
  margin: 2px;
}
.footer-bottom-header {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-list-title {
  color: #335c92;
  margin-bottom: 20px;
  font-weight: bold;
}
.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-list li {
  margin-bottom: 5px;
  font-size: 14px;
}
.footer-list li a,
.footer-bottom-container a {
  text-decoration: none;
  color: #959595;
}
.footer-list li a:hover,
.footer-bottom-container a:hover,
.footer-list-social li a:hover {
  color: #335c92;
}
.footer-bottom-header .col-sm {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-bottom-container {
  padding: 20px;
  background-color: #f5f5f5;
  text-align: center;
}
.footer-bottom-container {
  font-size: 14px;
  color: #333333;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-bottom-container .footer-logo {
  width: 60px;
  margin-right: 20px;
}
.footer-list-social,
.app-section-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-list-social li {
  float: left;
  font-size: 30px;
  margin-right: 20px;
}
.footer-list-social li a {
  color: #fbba38;
}
.dropdown-menu li {
  padding: 8px;
  font-size: 14px;
}
.dropdown-menu a {
  color: #959595;
  text-decoration: none;
  font-size: 14px;
}

.dropdown-menu a:hover {
  color: #335c92;
}
home-banner-card .offcanvas-menu li {
  border-right: none;
}
.home-banner {
  padding-top: 150px;
  padding-bottom: 300px;
  background: url("../public/images/home-banner.png") no-repeat right top;
}
.home-banner h3 {
  color: #e5a026;
}
.home-banner-form {
  margin-top: 30px;
}
.home-banner-form input {
  border: #335c92 1px solid;
  border-radius: 50px;
  margin-right: 10px;
  width: 15%;
  float: left;
}
.home-banner-form input.btn {
  background-color: #fbba38;
  color: #000;
  border: #e5a026 1px solid;
}
@media only screen and (max-width: 990px) {
  .home-banner-form input,
  .home-banner-form input.btn {
    width: 100%;
    margin-top: 10px;
  }
  .app-section-image {
    width: 100%;
    margin-top: 0px !important;
  }
  .footer-tagline {
    padding-top: 250px;
  }
  .about-toggle-container .dropdown-item {
    text-align: left !important;
  }
  .about-toggle-container {
    background-color: #fff !important;
    border: none !important;
  }
  .about-message-divider img {
    width: 300% !important;
    margin-top: -150px !important;
    overflow: hidden;
  }
  .mr-damak-photo {
    width: 100% !important;
    float: right;
    padding: 0px;
  }
  .about-history-content-container {
    padding: 60px 20px 60px 20px !important;
  }
  .google-reviews {
    margin-top: 10% !important;
  }
  .navbar {
    background-color: #fff;
  }
}
.card {
  -webkit-box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.75);
}
.home-banner-card {
  text-align: center;
  color: #1f2e3e;
}
.home-banner-card img {
  height: 150px;
  margin-bottom: 20px;
}
.card-clear-pad {
  margin-top: -100px;
}
.app-section {
  padding-top: 200px;
  padding-bottom: 200px;
  background: url("../public/images/app-section-bg.png") no-repeat center bottom;
  background-size: cover;
}
.firefighting-bg {
  background: url("../public/images/services/firefighting/firefighting-main-bg.png")
    no-repeat center bottom !important;
}
.app-section-list li,
.about-middle-section li {
  color: #fbba38;
  margin-top: 5px;
  text-transform: capitalize;
  font-size: 20px;
}
.app-section-image {
  width: 100%;
  float: right;
  margin-top: -100px;
}
.app-section-download img {
  height: 60px;
  float: left;
  margin-right: 10px;
}
.clients-section {
  text-align: center;
}
.clients-section-image {
  height: 250px;
  margin: 0px 30px 30px 30px;
  float: left;
}
.clients-section .happy-client-heading {
  font-size: 22px;
  color: #fbba38;
  margin-top: 20px;
}
.happy-client-heading ion-icon {
  font-size: 30px;
  margin-bottom: -7px;
  color: #335c92;
}
.form-check {
  text-align: left;
  color: #fff;
}
.form-check-label {
  margin-left: 10px;
  margin-top: 5px;
}
.footer-form .btn {
  background-color: #e5a126;
  color: #fff;
}
.business-banner img {
  width: 100%;
}
.business-section2 {
  text-align: right;
}
.business-section2 img {
  height: 110px;
  text-align: right;
}
.secondary-btn {
  border-radius: 50px;
  background-color: #fea702;
  color: #fff;
  text-transform: capitalize;
}
.secondary-btn:hover {
  background-color: #335c92;
  color: #fff;
}
.header-sublinks {
  position: absolute;
  right: 0;
  top: 68;
}
.header-sublinks .dropdown-item {
  padding-top: 14px;
  padding-bottom: 14px;
}
.header-sublinks-context {
  list-style: none;
  border: none !important;
  display: flex;
  justify-content: space-evenly;
}
.header-sublinks-context li {
  margin-left: 30px;
}
.header-sublinks-context li a {
  color: #335c92;
}
.offcanvas-menu li,
.offcanvas-menu li:hover {
  border: 0;
}
.header-sublinks-context-mobile {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
.header-sublinks-context-mobile li {
  padding: 0px 0px 8px 0px;
  border: none;
}
.header-sublinks-context-mobile li a {
  color: #335c92;
}
.header-sublinks-context-mobile .dropdown-menu {
  border-radius: 0px;
}
.header-sublinks-context-mobile .dropdown-menu,
.header-sublinks-context-mobile .nav-item:hover {
  border: 0;
  background: transparent;
}
.header-sublinks-context-mobile .dropdown-menu .dropdown-item {
  border-bottom: 1px solid #e5e5e5;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.business-cta-container .card {
  border: none;
  height: 250px;
  box-shadow: none;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-right: 110px;
}
.business-cta-1 {
  background: url("../public/images/business-cta-1.svg");
}
.firefighting-cta-1 {
  background: url("../public/images/services/firefighting/firefighting-cta-1.svg");
}
.firefighting-cta-2 {
  background: url("../public/images/services/firefighting/firefighting-cta-2.svg");
}
.firefighting-cta-3 {
  background: url("../public/images/services/firefighting/firefighting-cta-3.svg");
}

.business-cta-2 {
  background: url("../public/images/business-cta-2.svg");
}
.business-cta-3 {
  background: url("../public/images/business-cta-3.svg");
}
.business-icons {
  padding: 5px;
  border-radius: 10px;
  border: none;
}
.business-icons img {
  height: 50px;
  margin-right: 20px;
}
.business-icons-inner {
  border: #4e72b1 2px solid;
  border-radius: 10px;
  padding: 25px 15px 25px 15px;
}
.business-icons-inner span {
  font-size: 28px;
  font-weight: 600;
  color: #4f72b2;
  position: absolute;
  top: 35;
}
.business-icons-subtitle {
  color: #4f72b2;
  text-align: center;
  margin-top: 10px;
}
.about-toggle-container {
  margin-top: 5px;
  border-radius: 0px;
  width: 100%;
  background-color: #f4f4f4;
}
.about-toggle-container .dropdown-item {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px #e5e5e5 solid;
  font-size: 14px;
}
.dropdown-item:active {
  background-color: #4f72b2;
  color: #fff !important;
}
.about-message-banner {
  background: url("../public/images/about-message-banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about-members-banner {
  background: url("../public/images/about-our-members-banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-message-banner-container {
  padding-top: 700px;
  padding-bottom: 100px;
}
.global-nav-links-banner-container {
  padding-top: 500px;
  padding-bottom: 50px;
}

.about-message-divider img {
  width: 100%;
  margin-top: -80px;
}
.mr-damak-photo {
  width: 400px;
}
.blockqoute-custom {
  width: 40px;
  padding-top: 150px;
}
.about-message-paragraph {
  font-size: 18px;
}
.about-message-paragraph .text-right {
  text-align: right;
  font-size: 16px;
  color: #4f72b2;
}
.mission-vision-about {
  padding-top: 80px;
  padding-bottom: 80px;
}
.mission-vision-about .card {
  border: none;
  background-color: #335c92;
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
}
.mission-vision-about .card img {
  height: 70px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.mission-vision-statement {
  text-align: center;
  background: #fff;
  padding: 16px;
  border-radius: 20px;
}
.mission-vision-statement p {
  font-size: 16px;
  color: #959595;
}
.about-history-banner {
  background: url("../public/images/about-history-banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.global-nav-links-banner,
.global-sectors-banner {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}
.about-lpg-banner {
  background: url("../public/images/about-lpg-banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about-history-content {
  background-position: bottom;
}
.about-history-content-container {
  padding: 80px 0px 20px 0px;
}
.about-history-download {
  border-radius: 10px;
  background-color: #335c92;
  text-align: center;
  padding: 12px;
  margin: 10px;
}
.about-history-download-inner {
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 18px;
  font-size: 20px;
  color: #fff;
}
.download-btn {
  padding: 10px 30px 10px 30px;
  font-size: 12px;
  border-radius: 10px;
}
.download-btn img {
  width: 30px;
  margin-right: 20px;
}
.about-policy-banner {
  background: url("../public/images/about-policy-banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about-qhse-policy-list {
  list-style: none;
  padding: 0;
}
.about-qhse-policy-list li {
  margin-bottom: 18px;
  text-align: left;
}
.sectors-list li {
  margin-bottom: unset !important;
}
.about-qhse-policy-list li ion-icon {
  font-size: 25px;
  color: #4f72b2;
  margin-right: 15px;
  margin-bottom: -50px;
}
.about-qhse-policy-list li p {
  margin-left: 40px;
}
.about-history-download img:hover {
  opacity: 0.8;
}
.about-members-container {
  padding-top: 100px;
  padding-bottom: 60px;
}

/* Start sectors global stylesheet */
.nav-tabs {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
.nav-tabs .nav-item a {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  background-color: #f5f5f5;
  border-radius: 0px;
  margin: 0 !important;
  border: #ccc solid 1px;
}

.nav-tabs .nav-item .active {
  color: #4f72b2;
  background-color: #fff;
  border-bottom: 0px;
}
.tab-content {
  background-color: #fff;
  border: #ccc solid 1px;
  border-top: 0px;
  padding: 24px;
  font-size: 14px;
}
.tab-content .active {
  background-color: #fff;
  border-bottom: 0px;
}
.btn-primary {
  border-radius: 50px;
  background-color: #335c92;
  border: 0px;
  padding: 8px 24px 8px 24px;
}
.btn-primary:hover {
  background-color: #e5a026;
}
.global-invest-with-us-banner-bg {
  background: url("../public/images/invest-with-us-banner.png");
}
.global-leave-a-feedback-banner-bg {
  background: url("../public/images/leave-a-feedback-banner.png");
}
.global-news-and-media-banner-bg {
  background: url("../public/images/news-and-media-banner.png");
}
.contact-form-container {
  padding: 40px;
  background-color: #335c92;
  border-radius: 10px;
}
/* start carousel slick */
.gallery-carousel img {
  display: block;
  width: 100%;
}
.slick-slide .image {
  padding: 10px;
  margin: 10px;
}
.gallery-carousel img:hover {
  cursor: zoom-in;
  opacity: 0.7;
}
.slick-slide {
  height: unset;
}
.slick-dots li.slick-active button:before {
  color: #335c92;
  font-size: 12px;
}
.slick-next:before,
.slick-prev:before {
  color: #335c92;
  font-size: 32px;
}
/* end carousel slick */

.card-latest-news {
  border-radius: 30px;
  overflow: hidden;
  margin: 10px;
}
.card-latest-news-title {
  text-align: left;
  padding: 22px;
  background-color: #335c92;
  color: #fff;
}
.card-latest-news img {
  width: 100%;
}
.global-sector-agriculture-banner-bg {
  background: url("../public/images/sectors/agriculture/banner.png");
}
#sector-form-loader,
.sector-banner-valign {
  padding-top: 80px;
  padding-bottom: 80px;
}
.box-shadow-mode {
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
}
.sector-banner-valign {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.slick-prev {
  left: -40px;
}
.image-viewer-content {
  background-color: #000;
}
.slick-initialized .slick-slide {
  padding: 12px;
}
.global-sector-hotel-banner-bg {
  background: url("../public/images/sectors/hotels/banner.png");
}
.global-sector-labor-banner-bg {
  background: url("../public/images/sectors/labor-camp/banner.png");
}
.global-sector-malls-banner-bg {
  background: url("../public/images/sectors/malls/banner.png");
}
.global-sector-restaurants-banner-bg {
  background: url("../public/images/sectors/restaurants/banner.jpg");
}
.global-sector-hospital-and-labs-banner-bg {
  background: url("../public/images/sectors/hospitals-and-labs/banner.png");
}
.global-sector-universities-and-schools-banner-bg {
  background: url("../public/images/sectors/universities-and-schools/banner.png");
}
.global-sector-residential-buildings-banner-bg {
  background: url("../public/images/sectors/residential-buildings/banner.png");
}
.global-sector-industries-banner-bg {
  background: url("../public/images/sectors/industries/banner.png");
}
.happy-clients-subtitle {
  padding: 15px;
  position: relative;
  bottom: 48px;
  color: #fff;
  display: block;
  background: rgba(51, 92, 146, 0.5);
  border-radius: 0px 0px 20px 20px;
  font-size: 12px;
}
.sector-restaurant-banner-subtitle {
  color: #e5a026;
  font-size: 32px;
}
.sectors-we-serve-industries {
  padding: 40px;
  border-radius: 30px;
  background-color: #335c92;
}
.sectors-we-serve-industries-context {
  color: #fff;
  border: #fff 1px solid;
  padding: 30px;
  margin-top: 20px;
  border-radius: 30px;
}
.service-subtitle {
  font-weight: normal !important;
  font-size: 14px !important;
}
/* Start firefighting styles */

.global-firefighting-banner-bg {
  background: url("../public/images/services/firefighting/banner.png");
}
.firefighting-cta {
  border-radius: 100px;
  background-color: #ffee00;
  border: #ce2028 3px solid;
  color: #ce2028;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 16px;
  padding-left: 60px;
  padding-right: 60px;
  text-transform: uppercase;
}
.firefighting-cta:hover {
  background-color: #ce2028;
  color: #fff;
}

/* start help and support */
.help-and-support-buttons {
  width: 70%;
}
.help-and-support-contact {
  border-radius: 30px;
  border: #335c92 10px solid;
  margin: 20px;
  padding: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
.help-and-support-contact ion-icon {
  color: #335c92;
  font-size: 70px;
}
.help-and-support-contact a {
  font-size: 18px;
  color: #959595;
}
.help-and-support-contact a:hover {
  color: #335c92;
}
.slick-slider-item {
  margin: 10px;
  background-position: center center;
  background-repeat: no-repeat !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  text-align: center;
  text-align: left;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: none;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  color: #fff;
  height: 500px;
}
.slick-slider-item:hover {
  cursor: pointer;
  opacity: 0.9;
}
.slick-slider-item sliderTitle {
  font-weight: bold;
}
.slick-slider-item subtitle {
  font-size: 14px;
}
.slider-item-title-container {
  background: rgb(51, 92, 146);
  background: linear-gradient(
    0deg,
    rgba(51, 92, 146, 1) 35%,
    rgba(0, 212, 255, 0) 100%
  );
  padding: 20px;
  opacity: 0.8;
  bottom: 0;
  position: absolute;
  width: 100%;
}
.slider-for {
  padding: 30px;
  color: #fff;
  background-color: #335c92;
  border-radius: 20px;
}
.slider-for-list li {
  font-size: 14px;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #335c92;
  margin: auto;
}
#myMap {
  background-color: #959595;
  overflow: hidden;
}
.locations-card {
  padding: 25px;
  border-radius: 0;
  border: none;
  background-color: #fff;
  margin: 10px;
}
.locations-card hr {
  width: 15%;
  height: 2px;
  border: 0;
  opacity: 1;
  border-top: 5px solid #e5a026;
}
.location-button {
  color: #fff;
}
.location-button:hover {
  background-color: #335c92;
}
.locations-card-content {
  font-size: 16px;
  color: #959595;
}
.locations-card button {
  width: 100%;
}
.location-button-contact {
  background-color: #e5a026;
}
.btn-location-search {
  padding-left: 60px;
  padding-right: 60px;
  background-color: #e5a026;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0px 50px 50px 0px;
}
.input-search-location {
  border: #335c92 1px solid !important;
  border-radius: 50px;
  background-color: #fff;
}
.google-reviews {
  margin-top: 30%;
}
.about-members-img {
  content: url("../public/images/group-members-desktop.svg");
  width: 100%;
}
.for-business-img {
  content: url("../public/images/for-business-img-desktop.svg");
  width: 100%;
}
.key-milestone-img {
  content: url("../public/images/services/firefighting/milestone-img-desktop.svg");
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .footer-top-container {
    margin-top: -200px !important;
  }
  .about-members-img {
    content: url("../public/images/group-members-mobile.svg");
    width: 100%;
  }
  .for-business-img {
    content: url("../public/images/for-business-img-mobile.svg");
    width: 100%;
  }
  .key-milestone-img {
    content: url("../public/images/services/firefighting/milestone-img-mobile.svg");
    width: 100%;
  }
  .tanker-units-loader {
    content: url("../public/images/services/gas-supply/tanker-units-mobile.svg") !important;
    width: 100%;
  }
  h1 {
    font-size: 36px !important;
  }
  .home-banner::after {
    content: "";
    width: 100%;
    height: 120%;
    background-color: #fff;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .home-banner .container {
    position: relative;
    z-index: 2;
  }
  .card-clear-pad {
    z-index: 3;
  }
  .about-message-banner-container {
    padding-top: 250px;
    padding-bottom: 50px;
  }
  .btn-lg {
    width: 100%;
    margin: 10px;
  }
  .nav-tabs .nav-item {
    width: 100%;
  }
  #sector-form-loader,
  .sector-banner-valign {
    padding-top: 20px;
    padding-bottom: unset !important;
  }
  .agriculture-list,
  .gas-meter-list {
    columns: 1 !important;
    -webkit-columns: 1 !important;
    -moz-columns: 1 !important;
  }
  .business-cta-container .card {
    padding-right: 60px;
  }
}
.clear-whitespace {
  margin-top: -80px;
}
.form-control,
.form-select {
  padding-left: 20px !important;
}
.tab-pane {
  padding: 10px;
}

.gas-meter-list,
.agriculture-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.tanker-units-loader {
  content: url("../public/images/services/gas-supply/tanker-units-desktop.svg");
  width: 100%;
}
.business-cta-form {
  background-color: #335c92;
  padding: 18px;
  border-radius: 10px;
  overflow: hidden;
}
.business-cta-form .btn {
  border-radius: 8px;
  font-weight: bold;
}
.business-cta-form .form-control {
  margin-bottom: 12px;
}
.business-cta-form .form-select {
  border-radius: 8px;
  margin: unset;
}
.modal-content {
  background-color: #335c92;
}
