<section class="container-fluid about-history-banner">
  <div class="container about-message-banner-container">
    <h1 class="text-white">HISTORY</h1>
  </div>
</section>
<section class="container-fluid app-section about-history-content p-0">
  <div class="container text-center about-history-content-container">
    <h5>" Pioneers of world class gas system solutions across the G.C.C. "</h5>
    <br />

    <p>
      Established in 1988 in the young and budding economy the U.A.E., SERGAS
      Group began its journey in the gas industry to empower lives and offer a
      safe and secure gas system solution.
    </p>
    <p>
      We at SERGAS Group provide customized solutions in LPG, SNG, NG and
      Medical Gas to a wide range of Industrial, Commercial and Residential
      Clients.
    </p>
    <p>
      A true visionary leader and CEO of SERGAS Group, Mr. Mohamed Damak has
      driven it forward to its present stature and has earned the trust and
      confidence of many over the past 30 years achieving the title of ‘Leaders
      in Gas Systems’.
    </p>
    <p>
      “Safety and quality is our priority” with this mission, the highly
      experienced and competent team at SERGAS Group work around the clock to
      provide world class gas system solutions supported by the highest level of
      customer service.
    </p>
    <p>
      Today SERGAS Group has its presence in the UAE, Oman & KSA and has
      executed over 2000 projects across GCC with a supply of more than 60
      million liters of LPG annually.
    </p>
    <p>
      Our team looks forward to serving your needs and ensuring the best
      customer experience.
    </p>
  </div>
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <div class="card about-history-download">
        <div class="about-history-download-inner">
          SERGAS GROUP BROCHURE<br />
          <div class="btn secondary-btn download-btn btn-lg m-3">
            <img
              src="../../../public/images/about-history-pdf-icon.svg"
            />DOWNLOAD
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm"></div>
  </div>
</section>
