<section class="container-fluid about-message-banner">
  <div class="container about-message-banner-container">
    <h1 class="text-white">MESSAGE FROM MANAGEMENT</h1>
  </div>
</section>
<section class="container-fluid p-0">
  <div class="container about-message-ceo">
    <div class="row">
      <div class="col-sm">
        <span
          ><img
            src="../../../public/images/blockqoute.png"
            class="blockqoute-custom"
        /></span>
        <div class="p-4 about-message-paragraph">
          <p>
            Since our start in 1988, our vision was for long-term business based
            on quality, honesty and fairness in our dealings by thinking and
            acting confidently. Our group has been built on committed service as
            well as hard work and as a result we have achieved with
            appreciation, great projects. SERGAS Group is constantly striving to
            be the best in the industry and to provide you the highest level of
            services.
          </p>
          <p>
            We grew from the U.A.E. and today we have extended our operations to
            the Sultanate of Oman and Kingdom of Saudi Arabia and planning to
            enter other countries. On behalf of all partners and managers, we
            seize this opportunity to thank you for your contribution in our
            progress.
          </p>
          <p>
            Our sincere thanks goes out to the local authorities for their
            continuous valued support and we would like to express our gratitude
            to the leadership of U.A.E., Oman, and K.S.A. for their wise vision
            in the energy sector which is playing a key role in the region’s
            development.
          </p>
          <div class="text-right">
            Mr. Mohomed Damak - (CEO)<br />SERGAS GROUP
          </div>
        </div>
      </div>
      <div class="col-sm">
        <img
          src="../../../public/images/mr-damak-ceo.png"
          class="mr-damak-photo"
        />
      </div>
    </div>
  </div>
  <div class="about-message-divider">
    <img src="../../../public/images/about-message-bg.svg" />
  </div>
</section>
<section class="container mission-vision-about">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <img src="../../../public/images/about-message-icon-target.svg" />
        <div class="mission-vision-statement">
          <h5>Mission</h5>
          <p>
            Continuous training of workforce and implementation of latest
            technology in the Gas Industry to provide safety and quality of
            service to customers.<br /><br />
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img src="../../../public/images/about-message-icon-eye.svg" />
        <div class="mission-vision-statement">
          <h5>Vision</h5>
          <p>
            To be the leader in gas system solutions in the Middle East with
            International standards and contribute towards the continuous
            improvement of safety and quality of gas systems.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img src="../../../public/images/about-message-icon-handshake.svg" />
        <div class="mission-vision-statement">
          <h5>Values</h5>
          <p>
            Honesty <br />
            Integrity <br />
            Timeliness <br />
            Transparency <br />
            Professionalism
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
