<li class="nav-item dropdown">
  <a
    href="javascript:void(0)"
    class="nav-link dropdown-toggle"
    id="sectors-we-serve"
    data-bs-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    >Sectors We Serve
    <ion-icon name="chevron-down-outline" style="margin-bottom: -4px"></ion-icon
  ></a>
  <div class="dropdown-menu" aria-labelledby="sectors-we-serve">
    <a class="dropdown-item" href="#">Sector 1</a>
    <a class="dropdown-item" href="#">Sector 2</a>
  </div>
</li>
<li class="nav-item dropdown">
  <a
    href="javascript:void(0)"
    class="nav-link dropdown-toggle"
    id="services"
    data-bs-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    >Services
    <ion-icon name="chevron-down-outline" style="margin-bottom: -4px"></ion-icon
  ></a>
  <div class="dropdown-menu" aria-labelledby="services">
    <a class="dropdown-item" href="#">Service 1</a>
    <a class="dropdown-item" href="#">Service 2</a>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Invest With Us</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">News and Media</a>
</li>
