<li class="nav-item dropdown">
  <a
    href="javascript:void(0)"
    class="nav-link dropdown-toggle"
    id="fire-detection"
    data-bs-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    >Fire Detection & Evacuation Systems
    <ion-icon name="chevron-down-outline" style="margin-bottom: -4px"></ion-icon
  ></a>
  <div class="dropdown-menu" aria-labelledby="fire-detection">
    <a class="dropdown-item" href="#">Link 1</a>
    <a class="dropdown-item" href="#">Link 2</a>
    <a class="dropdown-item" href="#">Link 3</a>
    <a class="dropdown-item" href="#">Link 4</a>
    <a class="dropdown-item" href="#">Link 5</a>
  </div>
</li>
<li class="nav-item dropdown">
  <a
    href="javascript:void(0)"
    class="nav-link dropdown-toggle"
    id="firefighting-systems"
    data-bs-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    >Firefighting Systems
    <ion-icon name="chevron-down-outline" style="margin-bottom: -4px"></ion-icon
  ></a>
  <div class="dropdown-menu" aria-labelledby="firefighting-systems">
    <a class="dropdown-item" href="#">Link 1</a>
    <a class="dropdown-item" href="#">Link 2</a>
    <a class="dropdown-item" href="#">Link 3</a>
    <a class="dropdown-item" href="#">Link 4</a>
    <a class="dropdown-item" href="#">Link 5</a>
  </div>
</li>

<li class="nav-item">
  <a class="nav-link" href="/about/news-and-media/">News and Media</a>
</li>
