<section class="container-fluid about-policy-banner">
  <div class="container about-message-banner-container">
    <h1 class="text-white">QHSE POLICY</h1>
  </div>
</section>
<section class="container-fluid app-section about-history-content p-0">
  <div class="container text-center about-history-content-container">
    <h5>
      SERGAS has always positioned itself as a pioneer in the Gas Industry by
      continuously thriving to improve the quality of its products and services
      while keeping the safety of people and the environment on top of its
      priorities. We trust in the leadership role of our Line Management in
      maintaining a proper and effective communication protocol throughout the
      Company’s structure to implement Integrated Management System. The
      following commitments must be honored internally by all members of our
      organization and shared with all interested parties to ensure end to end
      compliance:
    </h5>
    <br />

    <ul class="about-qhse-policy-list">
      <li>
        <ion-icon name="caret-forward-circle"></ion-icon>
        <p>
          In our constant endeavor to achieve customer satisfaction, we commit
          ourselves to meet the expectations, specified and unspecified
          requirements of our customer with utmost care and service.
        </p>
      </li>
      <li>
        <ion-icon name="caret-forward-circle"></ion-icon>
        <p>
          We support and contribute to the society by the prevention of
          pollution and depletion of natural resources arising from our products
          and services, establishing sustainability policy and creating
          awareness to all our employees, stakeholder and interested parties.
        </p>
      </li>
      <li>
        <ion-icon name="caret-forward-circle"></ion-icon>
        <p>
          We believe in the fact that our employees are the real assets and
          prevents employees, Stakeholders and other interested parties from
          injury and ill health.
        </p>
      </li>
      <li>
        <ion-icon name="caret-forward-circle"></ion-icon>
        <p>
          We ensure that all our processes, procedures and policies shall be
          reviewed annually for continuous improvement respecting the applicable
          national and international codes and regulations pertaining to our
          products and services.
        </p>
      </li>
      <li>
        <ion-icon name="caret-forward-circle"></ion-icon>
        <p>
          Embracing innovation and technological advancement as part of our
          Corporate growth to always stay ahead of the competition by providing
          better service to our Clients.
        </p>
      </li>
      <li>
        <ion-icon name="caret-forward-circle"></ion-icon>
        <p>
          We motivate and contribute to the development of the employees by
          providing training in the appropriate use of its Quality, Health,
          Safety and Environment management systems.
        </p>
      </li>
      <li>
        <ion-icon name="caret-forward-circle"></ion-icon>
        <p>
          We ensure that the overall effectiveness of the IMS shall be reviewed
          periodically by evaluating performance against the set QHSE objectives
          and implementing new improvement in line with strategic direction and
          business needs.
        </p>
      </li>
      <li>
        <ion-icon name="caret-forward-circle"></ion-icon>
        <p>
          We believe that preserving the knowledge and expertise is the key to
          success and ensure that policies, processes and procedures were
          established and implemented to identify, preserve and communicate.
        </p>
      </li>
      <li>
        <ion-icon name="caret-forward-circle"></ion-icon>
        <p>
          We ensure effective communication by providing awareness and
          displaying the QHSE policy on various locations of the company and its
          branches including the company website for the public, stakeholders
          and other interested parties.
        </p>
      </li>
      <li>
        The commitments listed are in addition to SERGAS basic obligations to
        comply with national & international standards.
      </li>
    </ul>
    <div class="text-center pt-5 pb-5"><h2>ISO CERTIFICATES</h2></div>
    <div class="row">
      <div class="col-sm">
        <div class="card about-history-download">
          <a
            href="javascript:void(0)"
            data-bs-toggle="modal"
            data-bs-target="#iso140012015"
          >
            <img
              src="../../../public/images/policy-iso-14001-2015.png"
              width="100%"
          /></a>
          <div class="text-white mt-3 mb-2">ISO 14001-2015</div>
        </div>
      </div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
    </div>
  </div>
</section>
<!-- Modal -->
<div
  class="modal fade"
  id="iso140012015"
  tabindex="-1"
  aria-labelledby="iso140012015"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          src="../../../public/images/policy-iso-14001-2015.png"
          width="100%"
        />
      </div>
    </div>
  </div>
</div>
