<div class="row business-section2">
  <div class="col-sm">
    <div class="card p-4 m-3">
      <div class="row">
        <div class="col-3">
          <img src="../public/images/business-icon-1.png" />
        </div>
        <div class="col-9">
          <b>Need <br />Gas Supply?</b><br /><br />
          <div class="btn secondary-btn">Get a Qoute</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card p-4 m-3">
      <div class="row">
        <div class="col-3">
          <img src="../public/images/business-icon-2.png" />
        </div>
        <div class="col-9">
          <b>Gas & Fire<br />System Installation</b><br /><br />
          <div class="btn secondary-btn">Contact Us Now</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card p-4 m-3">
      <div class="row">
        <div class="col-3">
          <img src="../public/images/business-icon-3.png" />
        </div>
        <div class="col-9">
          <b>Operating & Maintaining<br />Your System</b><br /><br />
          <div class="btn secondary-btn">Get your free site survey now</div>
        </div>
      </div>
    </div>
  </div>
</div>
