<div class="row business-section2">
  <div class="col-sm business-cta-container">
    <div class="card business-cta-1">
      <div>
        <b>Need <br />Gas Supply?</b><br /><br />
        <div class="btn secondary-btn">Get a Qoute</div>
      </div>
    </div>
  </div>
  <div class="col-sm business-cta-container">
    <div class="card business-cta-2">
      <div>
        <b>Gas & Fire<br />System Installation</b><br /><br />
        <div class="btn secondary-btn">Contact Us Now</div>
      </div>
    </div>
  </div>
  <div class="col-sm business-cta-container">
    <div class="card business-cta-3">
      <div>
        <b>Operating & Maintaining<br />Your System</b><br /><br />
        <div class="btn secondary-btn">Get your free site survey now</div>
      </div>
    </div>
  </div>
</div>
