<footer class="container-fluid p-0">
  <div class="footer-top-container">
    <div class="container footer-top-header">
      <div class="footer-tagline">
        <h3>Switch to Central Gas Today! Choose Safety. Choose SERGAS.</h3>
      </div>
      <div class="row footer-top-header-input">
        <form class="footer-form">
          <div class="row">
            <div class="col-sm">
              <input
                type="text"
                class="form-control"
                placeholder="Full Name"
                required
              />
              <input
                type="text"
                class="form-control"
                placeholder="Company Name"
                required
              />
            </div>
            <div class="col-sm" style="padding-top: 10px">
              <div class="form-check">
                <input
                  type="radio"
                  class="form-check-input"
                  id="radio1"
                  name="optradio"
                  value="option1"
                  checked
                />
                <label class="form-check-label" for="radio1">New Client</label>
              </div>
              <br />
              <div class="form-check">
                <input
                  type="radio"
                  class="form-check-input"
                  id="radio2"
                  name="optradio"
                  value="option2"
                />
                <label class="form-check-label" for="radio2"
                  >Existing Client</label
                >
              </div>
            </div>
            <div class="col-sm">
              <select class="form-select">
                <option>+82</option>
                <option>+971</option>
              </select>
              <select class="form-select">
                <option>Select Country</option>
                <option>UAE</option>
                <option>PH</option>
              </select>
            </div>
            <div class="col-sm">
              <select class="form-select">
                <option>Select City</option>
                <option>Dubai</option>
                <option>Manila</option>
              </select>
              <input
                type="email"
                class="form-control"
                placeholder="Email"
                required
              />
            </div>
            <div class="col-sm">
              <input
                type="text"
                class="form-control"
                placeholder="Message"
                required
              />
              <input class="btn" type="submit" value="SEND INQUIRY" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container footer-bottom-header">
    <div class="row">
      <div class="col-sm">
        <img
          src="../public/images/footer-num1.svg"
          class="footer-contacts"
        /><br />
        <img
          src="../public/images/footer-num2.svg"
          class="footer-contacts"
        /><br />
        <img src="../public/images/footer-num3.svg" class="footer-contacts" />
      </div>
      <div class="col-sm">
        <div class="footer-list-title">Links</div>
        <ul class="footer-list">
          <li><a href="#">Home</a></li>
          <li><a href="#">Become an Instructor</a></li>
          <li><a href="#">Sign Up</a></li>
        </ul>
      </div>
      <div class="col-sm">
        <div class="footer-list-title">Support</div>
        <ul class="footer-list">
          <li><a href="#">About</a></li>
          <li><a href="#">Terms Of Service</a></li>
          <li><a href="#">License</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Refund Policy</a></li>
        </ul>
      </div>
      <div class="col-sm">
        <div class="footer-list-title">Connect With Us</div>
        <ul class="footer-list-social">
          <li>
            <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
          </li>
          <li>
            <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
          </li>
          <li>
            <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
          </li>
          <li>
            <a href="#"><ion-icon name="logo-discord"></ion-icon></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div>
    <div class="footer-bottom-container">
      <div>
        <img src="../public/images/main-logo.png" class="footer-logo" />
        &copy;2021 Sergas. All Rights Reserved | Design by Magnetic Designs
      </div>
    </div>
  </div>
</footer>
