<footer class="container-fluid p-0">
  <div class="footer-top-container">
    <div class="container footer-top-header">
      <div class="footer-tagline">
        <h3>Switch to Central Gas Today! Choose Safety. Choose SERGAS.</h3>
      </div>
      <div class="footer-top-header-input">
        <form class="footer-form">
          <div class="row">
            <div class="col-sm-3">
              <input
                type="text"
                class="form-control"
                placeholder="Name"
                required
              />
            </div>
            <div class="col-sm-3">
              <input
                type="email"
                class="form-control"
                placeholder="Email"
                required
              />
            </div>
            <div class="col-sm-3">
              <input
                type="tel"
                class="form-control"
                placeholder="Phone"
                required
              />
            </div>
            <div class="col-sm-3">
              <select class="form-select">
                <option>Select City</option>
                <option>Dubai</option>
                <option>Oman</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <select class="form-select">
                <option>Select Country</option>
                <option>UAE</option>
                <option>Qatar</option>
              </select>
            </div>
            <div class="col-sm-6">
              <input type="text" class="form-control" placeholder="Message" />
            </div>
            <div class="col-sm-3">
              <input class="btn" type="submit" value="SEND INQUIRY" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container footer-bottom-header">
    <div class="row">
      <div class="col-sm">
        <img
          src="../public/images/footer-num1.svg"
          class="footer-contacts"
        /><br />
        <img
          src="../public/images/footer-num2.svg"
          class="footer-contacts"
        /><br />
        <img src="../public/images/footer-num3.svg" class="footer-contacts" />
      </div>
      <div class="col-sm">
        <div class="footer-list-title">Quick Links</div>
        <ul class="footer-list">
          <li><a href="/about/why-choose-lpg/">Why Choose Sergas</a></li>
          <li><a href="/about/history/">Our History</a></li>
          <li><a href="/business/">For Your Business</a></li>
          <li><a href="/about/news-and-media/">News and Media</a></li>
          <li><a href="/help-and-support/">Help and Support</a></li>
          <li><a href="/contact-us/">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-sm">
        <div class="footer-list-title">Our Services</div>
        <ul class="footer-list">
          <li><a href="/about/firefighting/">Firefighting</a></li>
          <li>
            <a href="/about/services/emergency-operation-and-maintenance/"
              >Emergency Operation and Maintenance</a
            >
          </li>
          <li>
            <a href="/about/services/gas-meter-billing-and-management/"
              >Gas Meter Billing and Management</a
            >
          </li>
          <li>
            <a href="/about/services/gas-supply-and-transportation/"
              >Gas Supply and Transportation</a
            >
          </li>
          <li>
            <a href="/about/services/gas-system-design-and-engineering/"
              >Gas System Design and Engineering</a
            >
          </li>
          <li>
            <a href="/about/services/gas-system-engineering/"
              >Gas System Engineering, Procurement and Construction</a
            >
          </li>
        </ul>
      </div>
      <div class="col-sm">
        <div class="footer-list-title">Connect With Us</div>
        <ul class="footer-list-social">
          <li>
            <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
          </li>
          <li>
            <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
          </li>
          <li>
            <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
          </li>
          <li>
            <a href="#"><ion-icon name="logo-discord"></ion-icon></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div>
    <div class="footer-bottom-container">
      <div>
        <img src="../public/images/main-logo.png" class="footer-logo" />
        &copy;2023 Sergas Group of Companies. All Rights Reserved.
      </div>
    </div>
  </div>
</footer>
