<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white">
  <div class="container-fluid">
    <a href="#">
      <img src="../public/images/main-logo.png" class="logo img-fluid" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
      aria-controls="mainNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse navbar-custom bg-white"
      id="mainNavbar"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#"
            ><ion-icon name="home-outline"></ion-icon> For Your Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><ion-icon name="business-outline"></ion-icon> For Your Business</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><ion-icon name="people-outline"></ion-icon> About SERGAS Group</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><ion-icon name="chatbubble-ellipses-outline"></ion-icon> Contact
            Us</a
          >
        </li>
      </ul>
      <div class="navbar-custom-right">
        <div class="search">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control" placeholder="Type Here" />
          <button class="btn btn-primary">Search</button>
        </div>
      </div>
      <div class="navbar-custom-right-myAccount">
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-secondary dropdown-toggle my-account-button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="../public/images/default-avatar.png"
              class="nav-profile-picture"
            />
            My Account
            <ion-icon
              name="chevron-down-outline"
              style="margin-bottom: -2px"
            ></ion-icon>
          </button>
          <ul class="dropdown-menu">
            <a href="#"><li>Option 1</li></a>
            <a href="#"><li>Option 2</li></a>
            <a href="#"><li>Option 3</li></a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
