<div class="contact-form-container box-shadow-mode" style="padding: 25px">
  <div class="footer-top-header-input">
    <form class="footer-form">
      <div class="row">
        <div class="col-sm">
          <input
            type="text"
            class="form-control"
            placeholder="Full Name"
            required
          /><input
            type="text"
            class="form-control"
            placeholder="Company Name"
            required
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              id="radio1"
              name="optradio"
              value="option1"
              checked
            />
            <label class="form-check-label" for="radio1">New Client</label>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              id="radio2"
              name="optradio"
              value="option2"
            />
            <label class="form-check-label" for="radio2">Existing Client</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <select class="form-select">
            <option>+82</option>
            <option>+971</option>
          </select>
          <select class="form-select">
            <option>Select Country</option>
            <option>UAE</option>
            <option>PH</option>
          </select>
          <select class="form-select">
            <option>Select City</option>
            <option>Dubai</option>
            <option>Manila</option>
          </select>
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            required
          /><textarea
            type="text"
            class="form-control"
            placeholder="Message"
            required
          ></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <input class="btn" type="submit" value="SEND INQUIRY" />
        </div>
      </div>
    </form>
  </div>
</div>
