<div class="row">
  <div class="col-sm">
    <div class="card" style="border-radius: 15px; overflow: hidden">
      <ul class="nav-fill nav nav-tabs" id="about-choose-sergas" role="tablist">
        <li class="nav-item" role="presentation">
          <a
            class="nav-link active"
            id="restaurants-tab"
            data-bs-toggle="tab"
            data-bs-target="#restaurants"
            type="button"
            role="tab"
            aria-controls="restaurants"
            aria-selected="true"
          >
            Restaurants
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="agriculture-tab"
            data-bs-toggle="tab"
            data-bs-target="#agriculture"
            type="button"
            role="tab"
            aria-controls="agriculture"
            aria-selected="false"
          >
            Agriculture
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="labour-camps-tab"
            data-bs-toggle="tab"
            data-bs-target="#labour-camps"
            type="button"
            role="tab"
            aria-controls="labour-camps"
            aria-selected="false"
          >
            Labour Camps
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="residential-tab"
            data-bs-toggle="tab"
            data-bs-target="#residential"
            type="button"
            role="tab"
            aria-controls="residential"
            aria-selected="false"
          >
            Residential Buildings
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="hotels-industries-tab"
            data-bs-toggle="tab"
            data-bs-target="#hotels-industries"
            type="button"
            role="tab"
            aria-controls="hotels-industries"
            aria-selected="false"
          >
            Hotels & Industries
          </a>
        </li>
      </ul>

      <div class="tab-content" id="about-choose-sergas-content">
        <div
          class="tab-pane fade show active"
          id="restaurants"
          role="tabpanel"
          aria-labelledby="restaurants-tab"
        >
          <div class="row">
            <div class="col-sm-7">
              <p>
                Since our start in 1988, our vision was for long-term business
                based on quality, honesty and fairness in our dealings by
                thinking and acting confidently. Our group has been built on
                committed service as well as hard work and as a result we have
                achieved with appreciation, great projects. SERGAS Group is
                constantly striving to be the best in the industry and to
                provide you the highest level of services.
              </p>
              <p>
                We grew from the U.A.E. and today we have extended our
                operations to the Sultanate of Oman and Kingdom of Saudi Arabia
                and planning to enter other countries. On behalf of all partners
                and managers, we seize this opportunity to thank you for your
                contribution in our progress.
              </p>
              <a
                class="btn btn-primary mb-2"
                href="/about/sectors-we-serve/restaurants/"
                >More Information</a
              >
            </div>
            <div class="col-sm-5">
              <img
                src="../../../public/images/about-restaurant-tab.png"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="agriculture"
          role="tabpanel"
          aria-labelledby="agriculture-tab"
        >
          agriculture tab content
        </div>
        <div
          class="tab-pane fade"
          id="labour-camps"
          role="tabpanel"
          aria-labelledby="labour-camps-tab"
        >
          labour camp tab content
        </div>
        <div
          class="tab-pane fade"
          id="residential"
          role="tabpanel"
          aria-labelledby="residential-tab"
        >
          residential tab content
        </div>
        <div
          class="tab-pane fade"
          id="hotels-industries"
          role="tabpanel"
          aria-labelledby="hotels-industries-tab"
        >
          hotel and indutries tab content
        </div>
      </div>
    </div>
  </div>
</div>
