<section class="container-fluid business-banner p-0">
  <img src="../public/images/business-banner.jpg" />
</section>
<section id="business-cta" class="container py-5"></section>
<section class="container">
  <div class="card p-5">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Section Under Construction!</strong> You should check in on some
      of those pages.
    </div>
  </div>
</section>
<section class="container mt-5 mb-5">
  <div class="row">
    <div class="col-sm p-3">
      <div class="card business-icons">
        <div class="business-icons-inner">
          <img src="../public/images/icon-business-fire.svg" />
          <span>70+ Million</span>
        </div>
      </div>
      <div class="business-icons-subtitle">LITERS SUPPLIED ANNUALLY</div>
    </div>
    <div class="col-sm p-3">
      <div class="card business-icons">
        <div class="business-icons-inner">
          <img src="../public/images/icon-business-home.svg" />
          <span>30,000+</span>
        </div>
      </div>
      <div class="business-icons-subtitle">TENANTS SERVED</div>
    </div>
    <div class="col-sm p-3">
      <div class="card business-icons">
        <div class="business-icons-inner">
          <img src="../public/images/icon-business-building.svg" />
          <span>2,200+</span>
        </div>
      </div>
      <div class="business-icons-subtitle">PROJECTS EXECUTED</div>
    </div>
    <div class="col-sm p-3">
      <div class="card business-icons">
        <div class="business-icons-inner">
          <img src="../public/images/icon-business-tools.svg" />
          <span>1,700+</span>
        </div>
      </div>
      <div class="business-icons-subtitle">SYSTEMS MAINTAINED</div>
    </div>
  </div>
</section>
