<section class="container-fluid home-banner">
  <div class="container">
    <div>
      <h1>SWITCH TO<br />CENTRAL GAS TODAY</h1>
    </div>
    <div><h3>Choose Safety. Choose SERGAS.</h3></div>
    <div class="home-banner-form">
      <input type="text" placeholder="Enter Your City" class="form-control" />
      <input
        type="text"
        placeholder="Enter Your Building"
        class="form-control"
      />
      <input class="btn" type="submit" value="Get a Qoute" />
    </div>
  </div>
</section>
<section class="container px-5">
  <div class="card p-5 card-clear-pad">
    <div class="row home-banner-card">
      <div class="col">
        <img src="../public/images/banner-info-1.png" />
        <div><b>PAY YOUR GAS BILLS</b></div>
        <p>Manage your payments online</p>
      </div>
      <div class="col">
        <img src="../public/images/banner-info-2.png" />
        <div><b>REGISTER FOR A GAS CONNECTION</b></div>
        <p>Apply for a gas connection easily</p>
      </div>
      <div class="col">
        <img src="../public/images/banner-info-3.png" />
        <div><b>MOVING HOUSES?</b></div>
        <p>Transfer your account to your new home</p>
      </div>
      <div class="col">
        <img src="../public/images/banner-info-4.png" />
        <div><b>SUBMIT YOUR METER READING</b></div>
        <p>Send us your gas consumption reading</p>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid app-section">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>MANAGE YOUR ACCOUNT<br />EASILY WITH SERGAS!</h2>
        <br />
        <ul class="app-section-list">
          <li>
            <ion-icon name="checkmark-done-circle-outline"></ion-icon
            >&nbsp;&nbsp;&nbsp;Pay your gas bills easily
          </li>
          <li>
            <ion-icon name="checkmark-done-circle-outline"></ion-icon
            >&nbsp;&nbsp;&nbsp;Monitor your gas usage
          </li>
          <li>
            <ion-icon name="checkmark-done-circle-outline"></ion-icon
            >&nbsp;&nbsp;&nbsp;Request a gas Connection/Disconnection
          </li>
          <li>
            <ion-icon name="checkmark-done-circle-outline"></ion-icon
            >&nbsp;&nbsp;&nbsp;24/7 Customer Service Support
          </li>
        </ul>
        <br /><br />
        <div class="app-section-download">
          <img src="../public/images/google-play.png" />
          <img src="../public/images/app-store.png" />
        </div>
      </div>
      <div class="col-sm">
        <img
          src="../public/images/app-section-right.png"
          class="app-section-image"
        />
      </div>
    </div>
  </div>
</section>
<section class="container clients-section">
  <div><h2>OUR HAPPY CLIENTS</h2></div>
  <br /><br />
  <div class="row">
    <div class="col-sm p-3">
      <img
        src="../public/images/happy-clients-1.png"
        class="clients-section-image"
      />
      <br />
      <div class="happy-client-heading">
        <span style="color: #335c92">4.6/5</span>
        <img
          src="../public/images/stars.png"
          style="width: 80px; margin-bottom: 4px"
        />
      </div>
      <div>Google Reviews Score</div>
    </div>
    <div class="col-sm p-3">
      <img
        src="../public/images/happy-clients-2.png"
        class="clients-section-image"
      />
      <br />
      <div class="happy-client-heading">
        <span><ion-icon name="people-circle-outline"></ion-icon></span
        >&nbsp;38,000+
      </div>
      <div>Customers Served</div>
    </div>
    <div class="col-sm p-3">
      <img
        src="../public/images/happy-clients-3.png"
        class="clients-section-image"
      />
      <br />
      <div class="happy-client-heading">
        <span><ion-icon name="call-outline"></ion-icon></span>&nbsp;24/7
      </div>
      <div>Call Centre Support</div>
    </div>
  </div>
</section>
