<section class="container-fluid home-banner">
  <div class="container">
    <div>
      <h1>SWITCH TO<br />CENTRAL GAS TODAY</h1>
    </div>
    <div><h3>Choose Safety. Choose SERGAS.</h3></div>
    <div class="home-banner-form">
      <form>
        <input class="btn btn-lg" type="submit" value="Get a Qoute" />
      </form>
    </div>
  </div>
</section>
<section class="container px-5">
  <div class="card p-5 card-clear-pad">
    <div class="row home-banner-card">
      <div class="col">
        <img src="../public/images/banner-info-1.svg" />
        <div><b>EASY PAYMENT OPTIONS</b></div>
        <p>Manage your payments online</p>
      </div>
      <div class="col">
        <img src="../public/images/banner-info-2.svg" />
        <div><b>PEACE OF MIND REGISTRATION PROCESS</b></div>
        <p>Apply for a gas connection easily</p>
      </div>
      <div class="col">
        <img src="../public/images/banner-info-3.svg" />
        <div><b>ARE YOU MOVING?</b></div>
        <p>Transfer your account to your new home</p>
      </div>
      <div class="col">
        <img src="../public/images/banner-info-4.svg" />
        <div><b>EFFICIENT BILL CONTROL</b></div>
        <p>Send us your gas consumption reading</p>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid app-section">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>MANAGE YOUR ACCOUNT<br />EASILY WITH SERGAS!</h2>
        <br />
        <ul class="app-section-list">
          <li>
            <ion-icon name="checkmark-done-circle-outline"></ion-icon
            >&nbsp;&nbsp;&nbsp;Pay your gas bills easily
          </li>
          <li>
            <ion-icon name="checkmark-done-circle-outline"></ion-icon
            >&nbsp;&nbsp;&nbsp;Monitor your gas usage
          </li>
          <li>
            <ion-icon name="checkmark-done-circle-outline"></ion-icon
            >&nbsp;&nbsp;&nbsp;Request a gas Connection/Disconnection
          </li>
          <li>
            <ion-icon name="checkmark-done-circle-outline"></ion-icon
            >&nbsp;&nbsp;&nbsp;24/7 Customer Service Support
          </li>
        </ul>
        <br /><br />
        <div class="app-section-download">
          <img src="../public/images/google-play.svg" />
          <img src="../public/images/app-store.svg" />
        </div>
      </div>
      <div class="col-sm">
        <img
          src="../public/images/app-section-right.svg"
          class="app-section-image"
        />
      </div>
    </div>
  </div>
</section>
<section class="container clients-section">
  <div><h2>VOICE OF OUR CUSTOMERS</h2></div>
  <br /><br />
  <div class="row">
    <div class="col-sm-3">&nbsp;</div>
    <div class="col-sm-6 p-3">
      <div class="row">
        <div class="col-sm-6 text-center">
          <img src="../public/images/happy-clients-1.svg" class="img-fluid" />
        </div>
        <div class="col-sm-6">
          <div class="google-reviews">
            <span style="color: #335c92; font-size: 26px; font-weight: 600"
              >4.6/5</span
            >
            <img
              src="../public/images/stars.png"
              style="width: 90px; margin-bottom: 7px"
            /><span
              style="
                color: #9d9d9d;
                font-size: 18px;
                margin-left: 5px;
                font-weight: 600;
              "
              >(203 reviews)</span
            ><br />
            <span style="color: #335c92; font-size: 20px; font-weight: 600"
              >Google Reviews Score</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">&nbsp;</div>
  </div>
</section>
