<div class="row">
  <div class="col-sm">
    <div class="card">
      <div class="card-header">Account</div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm">
            <img
              src="../public/images/default-avatar.png"
              class="nav-profile-picture"
              style="width: 50px; float: left"
            />
            <span class="body-headings">Raffy Osman</span><br /><span
              class="body-subtitle"
              >154121520</span
            >
          </div>
          <div class="col-sm">
            <span class="body-subheading">Current Usage</span><br /><span
              class="body-values"
              >1,024 AED</span
            >
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-9">
            <span class="body-subheading-num">GXXXXXXXXX</span><br />
            <span class="f-left">Building Name</span
            ><span class="f-right">House Codixel</span><br />
            <span class="f-left">Flat No.</span><span class="f-right">5A</span
            ><br />
            <span class="f-left">Last Meter Reading</span
            ><span class="f-right">XXXXXXXXXXXX</span><br />
            <span class="f-left">Latest Meter Reading</span
            ><span class="f-right">XXXXXXXXXXXX</span><br />
            <span class="f-left">Consumption</span
            ><span class="f-right">XXXXXXXXXXXX</span>
          </div>
          <div class="col-sm-3">
            <div style="border-left: #ccc thin solid" class="p-3">
              <img
                src="../../../public/images/dashboard/account.svg"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <div class="card-header">Bills and Payments</div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm">
            <span class="body-subheading f-left">Total Amount Due</span>
            <span class="body-values" style="float: right">1,024 AED</span>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-8">
            <span class="body-subheading-num">GXXXXXXXXX</span><br />
            <span class="f-left">Building Name</span
            ><span class="f-right">House Codixel</span><br />
            <span class="f-left">Flat No.</span><span class="f-right">5A</span
            ><br />
            <span class="f-left">Last Meter Reading</span
            ><span class="f-right">XXXXXXXXXXXX</span><br />
            <span class="f-left">Latest Meter Reading</span
            ><span class="f-right">XXXXXXXXXXXX</span><br />
            <span class="f-left">Consumption</span
            ><span class="f-right">XXXXXXXXXXXX</span>
            <br />
            <button class="btn btn-primary mt-4">Make Payment</button>
          </div>
          <div class="col-sm-4">
            <div style="border-left: #ccc thin solid" class="p-3">
              <img
                src="../../../public/images/dashboard/bills-and-payment.svg"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="card">
      <div class="card-header">Meter Reading</div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-8">
            <span class="body-subheading-num">GXXXXXXXXX</span><br />
            <span class="f-left">Building Name</span
            ><span class="f-right">House Codixel</span><br />
            <span class="f-left">Flat No.</span><span class="f-right">5A</span
            ><br />
            <span class="f-left">Last Meter Reading</span
            ><span class="f-right">XXXXXXXXXXXX</span><br />
            <span class="f-left">Latest Meter Reading</span
            ><span class="f-right">XXXXXXXXXXXX</span><br />
            <span class="f-left">Consumption</span
            ><span class="f-right">XXXXXXXXXXXX</span>
          </div>
          <div class="col-sm-4">
            <div style="border-left: #ccc thin solid" class="p-3">
              <img
                src="../../../public/images/dashboard/meter-reading.svg"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <span class="body-headings clearSize">Enter Your Meter Reading</span
            ><br />
            <div class="reading-container">
              <input type="text" class="reading-digit" maxlength="1" />
              <input type="text" class="reading-digit" maxlength="1" />
              <input type="text" class="reading-digit" maxlength="1" />
              <input type="text" class="reading-digit" maxlength="1" />
              <input type="text" class="reading-digit" maxlength="1" />
              <input type="text" class="reading-digit" maxlength="1" />
              <input type="text" class="reading-digit" maxlength="1" />
            </div>
          </div>
          <div class="col-sm-6">
            <span class="body-headings clearSize"
              >Attach the Image of Meter Reading </span
            ><br />
            <div class="file-upload" id="file-upload">
              <ion-icon name="cloud-upload-outline"></ion-icon>
            </div>
            <div class="text-center">
              <span style="font-size: 12px; color: #ccc"
                >Lorem ipsum dolor sit amet, consectetur adipiscing elit,</span
              >
            </div>
            <input
              type="file"
              style="display: none"
              name="meter-reading"
              id="meter-reading"
            />
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mt-4 mb-4">Submit</button>
      </div>
    </div>
  </div>
  <div class="col-sm">&nbsp;</div>
</div>
