<li class="nav-item dropdown">
  <a
    href="javascript:void(0)"
    class="nav-link dropdown-toggle"
    id="help-and-support"
    data-bs-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    >LPG/Natural Gas
    <ion-icon name="chevron-down-outline" style="margin-bottom: -4px"></ion-icon
  ></a>
  <div class="dropdown-menu" aria-labelledby="help-and-support">
    <a class="dropdown-item" href="#">LPG</a>
    <a class="dropdown-item" href="#">Natural Gas</a>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Firefighting</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Cylinder Distribution</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">CNG</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/contact-us/">Invest With Us</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/about/news-and-media/">News and Media</a>
</li>
