<li class="nav-item dropdown">
  <a
    href="javascript:void(0)"
    class="nav-link dropdown-toggle"
    id="sectors-we-serve"
    data-bs-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    >Sectors We Serve
    <ion-icon name="chevron-down-outline" style="margin-bottom: -4px"></ion-icon
  ></a>
  <div class="dropdown-menu" aria-labelledby="sectors-we-serve">
    <a class="dropdown-item" href="/business/sectors-we-serve/agriculture/"
      >Agriculture</a
    >
    <a class="dropdown-item" href="/business/sectors-we-serve/hotels/"
      >Hotels</a
    >
    <a class="dropdown-item" href="/business/sectors-we-serve/labor-camp/"
      >Labor Camp</a
    >
    <a class="dropdown-item" href="/business/sectors-we-serve/malls/">Malls</a>
    <a class="dropdown-item" href="/business/sectors-we-serve/restaurants/"
      >Restaurants</a
    >
    <a
      class="dropdown-item"
      href="/business/sectors-we-serve/hospitals-and-labs/"
      >Hospitals and Labs</a
    >
    <a
      class="dropdown-item"
      href="/business/sectors-we-serve/universities-and-schools/"
      >Universities and Schools</a
    ><a
      class="dropdown-item"
      href="/business/sectors-we-serve/residential-buildings/"
      >Residential Buildings</a
    ><a class="dropdown-item" href="/business/sectors-we-serve/industries/"
      >Industries</a
    >
  </div>
</li>
<li class="nav-item dropdown">
  <a
    href="javascript:void(0)"
    class="nav-link dropdown-toggle"
    id="services"
    data-bs-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    >Services
    <ion-icon name="chevron-down-outline" style="margin-bottom: -4px"></ion-icon
  ></a>
  <div class="dropdown-menu" aria-labelledby="services">
    <a
      class="dropdown-item"
      href="/about/services/emergency-operation-and-maintenance/"
      >Emergency Operation and Maintenance</a
    >
    <a
      class="dropdown-item"
      href="/about/services/gas-meter-billing-and-management/"
      >Gas Meter Billing and Management</a
    >
    <a
      class="dropdown-item"
      href="/about/services/gas-supply-and-transportation/"
      >Gas Supply and Transportation</a
    >
    <a
      class="dropdown-item"
      href="/about/services/gas-system-design-and-engineering/"
      >Gas System Design and Engineering</a
    >
    <a class="dropdown-item" href="/about/services/gas-system-engineering/"
      >Gas System Engineering, Procurement and Construction</a
    >
  </div>
</li>
<li class="nav-item">
  <a class="nav-link" href="/business/firefighting/" style="color: red"
    >Firefighting</a
  >
</li>
<li class="nav-item">
  <a class="nav-link" href="/contact-us/">Invest With Us</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/about/news-and-media/">News and Media</a>
</li>
